name = "condata-aai-chatbot"
main = "index.js"
compatibility_date = "2024-11-01"
compatibility_flags = ["websocket", "websocket_connect"]

[vars]
OPENAI_API_URL = "wss://api.openai.com/v1/realtime?model=gpt-4o-mini-realtime"

[observability]
enabled = true

[observability.logs]
enabled = true
invocation_logs = true
persist = true
head_sampling_rate = 1

[observability.traces]
enabled = true
persist = true
head_sampling_rate = 1
